@import "./constant/variables.scss";

.loginMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signIn {
  margin: 15px;
  font-size: 20px;
}

.sign-in {
  font-size: 20px;
}

.email {
  width: 100%;
  margin-top: 15px;
}

.forgot {
  float: $left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1em;
}

.login {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
